.content-card{
    display: flex;
    flex-direction: column;
}


.div-content-img-product{
    background-color: var(--White);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.div-info-product-content{
    background-color: var(--White);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    
}

.img-product-mobile{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-product-desktop{
    display: none;
}
.section-Info{
    margin: 8px 20px;
}
.p-Perfume-text{
    color: var(--Dark_grayish_blue);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.h1-Card-info{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    margin-top: 14px;
    margin-bottom: 14px;
    color: var(--Very_dark_blue);

}


.text-p-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--Dark_grayish_blue);
    line-height: 25px;
}

.section-Price{
    display: inline-flex;
    align-items: center;
}

.primary-price{
    font-weight: 600;
    font-size: 30px;
    margin: 0px 15px 0px 0px;
    color: var(--Dark_cyan);
    font-family: 'Fraunces', serif;

}



.descount-price{
    font-weight: 500;
    font-size: 14px;
    margin: 0px 15px 0px 0px;
    color: var(--Dark_grayish_blue);
    font-family: 'Montserrat', sans-serif;

    text-decoration: line-through;
}
.button-Add{
    all: unset;
    width: 100%;
    border-radius: 9px;
    font-size: 14px;
    color: var(--White);
    background: var(--Dark_cyan);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.button-Add:active{
    background: #1a4031
}


.div-button{
    display: inline-flex;
    align-items: center;
}
.p-button{
    margin-left: 10px;
    font-weight: bold;

}
.BsCart3{
    width: 20px;
    height: 18px;
}

@media (min-width:1280px){
    .content-card{
        display: inline-flex;
        flex-direction: row;
    }

    .div-content-img-product{
        border-bottom-left-radius: 10px;
    }
    .img-product-desktop{
        display: flex;
        width: 327px;
        height: 506px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

    }
    .img-product-mobile{
        display: none;

    }
    .div-info-product-content{
        width:326px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 0px 0px 0px 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .p-Perfume-text{
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .h1-Card-info{
        margin: 0px;
        font-size: 39px;

    }
    .section-Price{
        margin: 0px 20px;
    }

    .button-Add{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        height: 57px;
    }
    .text-p-h2{
        font-size: 17px;
    }
}